/* Body */

.fa-bars {
    position: absolute;
    top: 20px;
     right: 20px;
}

.menu {
    position: absolute;
    top: 20px;
    right: 20px;
}
.menu a {
    text-decoration: none;
    color: black;
}
.menu a:hover {
    color: #007bff;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
}
.menu:hover ul {
    display: block;
}
.menu ul li {
    background-color: #f8f9fa;
    padding: 10px;
    margin-bottom: 1px;
}
.menu ul li a {
    color: black;
}
.menu ul li a:hover {
    color: goldenrod;
}

body {
    background-color: antiquewhite;
}

.f1 {
    border: 5px solid rebeccapurple; /* Bordure de 2px, solide et de couleur #e8491d */
    padding: 5px; /* Espace autour du texte à l'intérieur de la bordure */
    display: inline-block; /* Pour que la bordure s'adapte à la taille du texte */
    background-color: burlywood;
}

/* Header */
header {
    text-align: center;
}

/* Images */
.img img {
    border-radius: 15px;
}

.img #img2 {
    position: relative;
    top: 85px;
    right: 70px;
}

/* À propos */
.à-propos h3 {
    margin-bottom: 20px; /* Ajuste la marge */
}

.à-propos img {
    width: 20%; /* Fait en sorte que les images soient responsives */
    border-radius: 15px;
}

/* Article */
.article h2 {
    margin-top: 100px; /* Ajuste la marge */
    margin-bottom: 25px; /* Ajuste la marge */
    border: 5px solid rebeccapurple;
    padding: 10px;
    display: inline-block;
}

.article .img_ {
    text-align: center;
    position: relative; 
}

.article .img_ img {
     /* Fait en sorte que les images soient responsives */
    border-radius: 5px;
    margin-bottom: px; /* Ajoute un espace entre les images */
}

.article .img_ .img_1    {
    max-width: 400px; /* Remplacez 800px par la valeur de largeur maximale souhaitée */
}

.article .img_ .img_2 {
    max-width: 400px; /* Remplacez 800px par la valeur de largeur maximale souhaitée */
}

.article .img_ .img_3 {
    max-width: 400px; /* Remplacez 800px par la valeur de largeur maximale souhaitée */
}

.article .img_ .img_4 {
    max-width: 400px; /* Remplacez 800px par la valeur de largeur maximale souhaitée */
}

.img_ div {
    margin-bottom: 15px; /* Ajoute un espace entre les Blocs */ 
}

/* Footer */
footer {
    margin-top: 20px; /* Ajuste la marge */

}

footer .contact {
    margin: 0 auto; /* Centre le contenu */
}

/* Média Queries pour les écrans jusqu'à 768 pixels de large */
@media only screen and (max-width: 768px) {
    .img img {
        width: 150px;
    }

    .img #img1 {
        margin-left: 50px;
    }

    .img #img2 {
        top: 35px; /* Ajuste la position */
        right: 40px; /* Ajuste la position */
    }

    .à-propos h3 {
        margin-bottom: 10px; /* Ajuste la marge */
    }

    .article h2 {
        margin-top: 45px; /* Ajuste la marge */
        margin-bottom: 10px; /* Ajuste la marge */
    }

    .article .img_ img {
        width: 390px;
    }
}

