/* Styles généraux */

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: antiquewhite;
}

h1 {
    color: #333;
}

.ingredients, .preparation, .comments, .recipe-ingredients, .recipe-preparation, .user-comments {
    margin: 20px 0;
}

h2 {
    color: #666;
}

.ingredients ul, .preparation ol, .recipe-ingredients ul, .recipe-preparation ol, .user-comments textarea {
    margin-left: 20px;
}

/* Bouton stylisé */

.submit-button {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.submit-button:hover {
    background-color: #45a049;
}



@media only screen and (max-width: 768px) {
  
}
